*.class
.metadata
.metadata\*
.metadata/*
.metadata\.plugins\*
Servers\.settings\*
Servers\.settings

# Package Files #
*.war
*.ear

# Module jar files #
Janeway/modules/*.jar
!Janeway/modules/DummyModule.jar

