<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>WPISuite</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>wpisuite</servlet-name>
    <servlet-class>edu.wpi.cs.wpisuitetng.WPICoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>wpisuite</servlet-name>
    <url-pattern>/API/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>edu.wpi.cs.wpisuitetng.WPILoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/API/login/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>edu.wpi.cs.wpisuitetng.WPILoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/API/logout/*</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>login</web-resource-name>
      <url-pattern>/login/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <servlet>
  	<servlet-name>AdvancedAPI</servlet-name>
  	<servlet-class>edu.wpi.cs.wpisuitetng.WPIAdvancedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdvancedAPI</servlet-name>
  	<url-pattern>/API/Advanced/*</url-pattern>
  </servlet-mapping>
</web-app>